


    <!---######################### 이미지 영역 ###################-->
    
    <!---######################### 텍스트 +감정영역 ###################-->
    <div class="modify__textBox">

      <input class="modify__haru-title" type="text" name="title" placeholder="제목" v-model="haru_diary.title">
      <div name="emotions" class="modify__emotions">
        <input value = 1 title="기쁨" type="radio" name="status" v-model="haru_diary.status" class="modify__emotions-happy"><img src="../../images/emotions/happy.svg" alt="기쁨" width="25" height="25">
        <input value = 2 title="그럭저럭" type="radio" name="status" v-model="haru_diary.status" class="modify__emotions-normal"><img src="../../images/emotions/normal.svg" alt="보통" width="25" height="25">
        <input value = 3 title="슬픔" type="radio" name="status" v-model="haru_diary.status" class="modify__emotions-sad"><img src="../../images/emotions/sad.svg" alt="슬픔" width="25" height="25">
        <input value = 4 title="짜증" type="radio" name="status" v-model="haru_diary.status" class="modify__emotions-rage"><img src="../../images/emotions/irritation.svg" alt="짜증" width="25" height="25">
        <input value = 5 title="분노" type="radio" name="status" v-model="haru_diary.status" class="modify__emotions-angry"><img src="../../images/emotions/angry.svg" alt="분노" width="25" height="25">
      </div>
      <textarea class="modify__haru-text" name="content" v-model="haru_diary.content" placeholder="내용"></textarea>

    </div>
    <button type="submit" name="button" class="modify__button" >수정하기</button>
    <span class="nowtime"></span>
